{% extends "User/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<h2> Your Cart </h2>
    {% for cartProduct in cartProducts %}
    <ul class="collection with-header">
        <li class="collection-item">
        <!--<a class="btn waves-effect waves-light pink right" href="#">Buy Now! <i class="material-icons">card_membership</i></a>-->
        <a href="{% url 'productPage' cartProduct.product.id %}">{{ cartProduct.product.title }}</a> (at &#8377;{{ cartProduct.product.price }})<br>
        <img src="{{ cartProduct.product.thumbnail1.url|default_if_none:'#' }}" width="100" height="100"><br>
         
        <i class="right"> Q :{{ cartProduct.quantity }}</i>
        SubTotal: &#8377;{{cartProduct.get_total_item_price}}
        
        <a href="{% url 'addToCart' cartProduct.product.id %}" class="secondary-content"><i class="material-icons right">add</i></a>
        <a href="{% url 'removeFromCart' cartProduct.product.id %}" class="secondary-content"><i class="material-icons right">remove</i></a>
        
        </li>
    </ul>
    {% empty %}
    No Saved Items!
    {% endfor %}
    {% if cartSubTotal %}
    <strong>Cart total :</strong>  &#8377;{{ cartSubTotal }}
    <a class="btn waves-effect waves-light red right" href="{% url 'checkout' %}">Buy All! <i class="material-icons">card_membership</i></a><br>
    {% endif %}
{% else %}
You are Not Logged In
<p>Please <a href="{% url 'login' %}">Login</a> in order to create a listing!<br>If not a user,<a href="{% url 'register' %}">Register</a> now!</p>
{% endif %}

{% endblock %}