{% extends "User/layout.html" %}
{% load static %}

{% block custom %}
<link href="{% static 'css/dist/product.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="product-list-container">
  <div class="row">
    {% for product in products %}
    <div class="col s12 m4">
      <div class="card yellow lighten-1">
        <a href="{% url 'productPage' product.id %}">
          <div class="card-image">
            <img class="img-holder" src="{{ product.thumbnail1.url|default_if_none:'#' }}" height="270">
          </div>
          <div class="card-content">
            <span class="card-title activator red-text text-darken-4 text-overflow-st"><strong>{{ product.title }}
                asdkjfhklahsd alkjsdhfk asdkjh aslkdjhlkhasd kajhsdfkh </strong></span>
            <p>Price : &#8377;{{ product.price }}<br></p>
          </div>
        </a>
      </div>
    </div>
    {% empty %}
    <h1>No active listings!</h1>
    {% endfor %}
  </div>
  <div class="button-pagination">
    <a class="btn-large blue" href="{% url 'productStart' startidx %}">Previous Page</a>
    <a class="btn-large nextpg blue" href="{% url 'productEnd' endidx %}">Next Page</a>
  </div>
</div>
{% endblock %}