{% extends "User/layout.html" %}

{% block body %}

<h2>{{product.title}}</h2><br>

{% include "Product/slider.html" %} <br>

<i><h5>M.R.P. : &#8377; {{product.price}}</h5></i><br>
{% if product.refundable %}
<i class="material-icons green left">check</i> Refundable For {{product.refund_period}} days!
{% else %}
<i class="material-icons red left">close</i> Not Refundable!
{% endif %}
{% if user.is_authenticated %}
<a class="btn waves-effect waves-light green right" href="{% url 'addToCart' product.id %}">Add To Cart <i class="material-icons">add</i></a><br><br>
<!--<a class="btn waves-effect waves-light red right" href="#">Buy Now! <i class="material-icons">card_membership</i></a><br><br><hr>-->
{% endif %}

{% include "Product/productShippingDetails.html" %}

<hr>
<i><h5>Product Discription:</h5></i>
<p style="font-size:140%;">{{product.description}}</p>
<hr>
{% include "Product/comments.html" %} 
{% endblock %}
