{% extends "User/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<h2> Your Address Details - </h2>
    {% for address in addresses %}
    <ul>
        <li>
        <div>
        {% if address.isPrimary %}
        >- Primary -> <br>
        <i>{{ address.addType }}:</i><br>{{ address.addressLine1 }},<br> {{ address.addressLine2 }}, <br> PinCode : <strong>{{ address.zipCode }}</strong>
        
        <a href="{% url 'deleteAddress' address.id %}" class="secondary-content">{Delete}</a>
        <a href="{% url 'updateAddress' address.id %}" class="secondary-content">{Update}</a>
        {% else %}
        <i>{{ address.addType }}:</i><br>{{ address.addressLine1 }},<br> {{ address.addressLine2 }}, <br> PinCode : <strong>{{ address.zipCode }}</strong>
        
        <a href="{% url 'deleteAddress' address.id %}" class="secondary-content">{Delete}</a>
        <a href="{% url 'updateAddress' address.id %}" class="secondary-content">{Update}</a>
        <a href="{% url 'setPrimaryAddress' address.id %}">{Set Primary}</a><br>
        {% endif %}
        </div>
        </li><hr>
    </ul>
    {% empty %}
    No Saved Addresses!
    {% endfor %}
    
    <a href="{% url 'createAddress' %}">Add Address</a>
{% else %}
You are Not Logged In
<p>Please <a href="{% url 'login' %}">Login</a> in order to create a listing!<br>If not a user,<a href="{% url 'register' %}">Register</a> now!</p>
{% endif %}

{% endblock %}