{% extends "User/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <p>
        <label>Type:</label>
        {{ form.addType }}
        </p>
        <p>
        <label>Address Line 1:</label>
        {{ form.addressLine1 }}
        </p>
        <p>
        <label>Address Line 2:</label>
        {{ form.addressLine2 }}
        </p>
        <p>
        <label>City:</label>
        {{ form.city }}
        <label>State:</label>
        {{ form.state }}
        </p>
        <p>
        <label>Zip Code:</label>
        {{ form.zipCode }}
        </p>
        <p>
        <label>
            <input type="checkbox" name='isPrimary'/>
            <span>Primary?</span>
        </label>
        </p>
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Add to AddressBook!<i class="material-icons right">add_location</i></button>
    </form>
    {% else %}
        You are Not Logged In
        <p>Please <a href="{% url 'login' %}">Login</a> in order to create a listing!<br>If not a user,<a href="{% url 'register' %}">Register</a> now!</p>

    {% endif %}

{% endblock %}