<footer class="page-footer blue">
        <div class="container">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">Shop Footer</h5>
            <p class="grey-text text-lighten-4">Welcome to Shop. For further help, please use the links provided.</p>
            </div>
            <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li>Email us at : <a class="grey-text text-lighten-3" href = "mailto: kartikay252081075@gmail.com">kartikay252081075@gmail.com</a></li>
                <li>Call us at : <a class="grey-text text-lighten-3" href="tel: +919212199223">+91-9212199223</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
        </div>
</footer>

