{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Shop{% endblock %}</title>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style> 
            body { 
            display: flex; 
            min-height: 100vh; 
            min-width: 130vh;
            flex-direction: column; 
            } 
        
            main { 
            flex: 1 0 auto; 
            } 
    </style> 
    </head>





    <body class="container">
    <!--- NAVBAR -->
        <ul id="dropdown1" class="dropdown-content">
            
            <li><a href="{% url 'changePassword' %}">Change Password</a></li>
            <li class="divider"></li>
            <!---<li><a href="{% url 'createPhone' %}">Add Phone</a></li>-->
            <li><a href="{% url 'phoneDetailView' %}">Phonebook</a></li>
            <!---<li><a href="{% url 'createAddress' %}">Add Address</a></li>-->
            <li><a href="{% url 'addressDetailView' %}">Addressbook</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <header>
        <nav>
            <div class="nav-wrapper" style="padding-left:5px;">
                <a href="{% url 'index' %}" class="brand-logo left">SHOP</a>
                <ul class="hide-on-down right">
                <li>
                <form>
                  <div class="input-field">
                    <input id="search" type="search" placeholder="Search for item..." required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
                </li>
                {% if user.is_authenticated %}
                <li><a href="#!" style="padding-right: 20px;"><span style="background-color: #2C2B30" class="new badge" data-badge-caption="">0</span><i class="material-icons left">shopping_cart</i></a></li>
                <li><a href="#!">Subscribe</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.fullname }}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                <li>
                </li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li>
                |
                </li>
                <li><a href="{% url 'register' %}">Register</a></li> 
                {% endif %}
                </ul>

        </nav>
        </header>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script type="text/javascript">M.toast({html: "{{message}}", classes:'green rounded', displayLenght:2000})</script>
                {% elif message.tags == 'info' %}
                    <script type="text/javascript">M.toast({html: "{{message}}", classes:'red rounded', displayLenght:2000})</script>
                {% elif message.tags == 'error' %}
                    <script type="text/javascript">M.toast({html: "{{message}}", classes:'orange rounded', displayLenght:2000})</script>
                {% endif %}
            {% endfor %}
        {% endif %}



        <!-- Page body -->
        <main style="margin-top:20px; margin-bottom:20px;">
            {% block body %}
            {% endblock %}
        </main>


    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Shop Footer</h5>
                <p class="grey-text text-lighten-4">Welcome to Shop. For further help, please use the links provided.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li>Email us at : <a class="grey-text text-lighten-3" href = "mailto: kartikay252081075@gmail.com">kartikay252081075@gmail.com</a></li>
                  <li>Call us at : <a class="grey-text text-lighten-3" href="tel: +919212199223">+91-9212199223</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
    </footer>

    </body>
<script type="text/javascript">M.AutoInit();</script>
   
</html>
