{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{% block title %}Shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dist/site.css' %}" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block customstatic %}
    {% endblock %}
</head>

<body>
    <div class="body-container">
        <div class="logo-container">
            <span class="logo">Shop</span>
            <button class="button-main login">Login</button>
            <!--button class="button-main signup">Signup</button>
            <button class="button-main checkout">Checkout</button>
            <button class="button-main logout">Logout</button-->
            <div class="search-container">
              {% include "User/searchBarCol.html" %} 
            </div>
        </div>
       
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-brand">
                  <input type="checkbox" id="drop-menu" />
                  <label class="navbar-brand-content" for="drop-menu">
                    <div class="side-bar">
                      {% include "User/sidebarmenu.html" %} 
                    </div>
                    <div class="menu-liner-container">
                      <div class="menu-liner"></div>
                      <div class="menu-liner"></div>
                      <div class="menu-liner"></div>    
                    </div>
                  </label>
                </div>
                <div class="search-container-submenu">
                  {% include "User/searchBarCol.html" %} 
                </div>    
                <div class="cart">
                    <svg width="15" height="15" viewBox="0 0 15 15">
                        <title>Shopping cart</title>
                        <path fill="currentColor"
                            d="M12 12c.8 0 1.5.7 1.5 1.5S12.8 15 12 15s-1.5-.7-1.5-1.5.7-1.5 1.5-1.5zM0 0h2.5l.7 1.5h11.1c.5 0 .8.4.8.8 0 .1 0 .2-.1.4l-2.7 4.9c-.3.4-.8.6-1.4.6H5.3l-.6 1.2v.1c0 .1.1.1.2.1h8.7v1.5h-9c-.9.1-1.6-.6-1.6-1.4 0-.2.1-.5.1-.7l1-1.9-2.6-5.6H0V0zm4.5 12c.8 0 1.5.7 1.5 1.5S5.3 15 4.5 15 3 14.3 3 13.5 3.7 12 4.5 12z">
                        </path>
                    </svg>
                    <span class="price"><span class="sup">Rs </span><span class="priceval">0.00</span></span>
                </div>
            </div>
        </div>

        <div class="body-content">
          {% block body %}
          {% endblock %}
        </div>
    </div>
</body>
</html>