{% extends "User/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<h2> Your Mobile Details - </h2>
    {% for phone in phones %}
    <ul class="collection with-header">
        {% if phone.phType.id == 1 %}
        <li class="collection-item"><div>{{ phone.phType }} : {{ phone.phoneNum }}</div></li>
        {% else %}
        <li class="collection-item"><div>{{ phone.phType }} : {{ phone.phoneNum }}   <a href="{% url 'deletePhone' phone.id %}" >{Delete}</a></div></li>
        {% endif %}
    </ul>
    {% endfor %}
    
    <a href="{% url 'createPhone' %}">Add Phone</a>
{% else %}
You are Not Logged In
<p>Please <a href="{% url 'login' %}">Login</a> in order to create a listing!<br>If not a user,<a href="{% url 'register' %}">Register</a> now!</p>
{% endif %}

{% endblock %}