{% extends "User/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label>Fullname </label>
            <input class="form-control" autofocus type="text" name="username" placeholder="Full Name"><br>
        <label>Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email Address"><br>
        <label>Mobile (+91 to precede your number)</label>
            <input class="form-control" type="tel" name="phonenumber" placeholder="(add '+countrycode' before number)"><br>
        <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password"><br>
        <label>Confirm Password"</label>
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password"><br>
        
        <input class="btn btn-primary" type="submit" value="Register"><br>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}