{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dist/sidebar.css' %}" /> 
<div class="side-bar-container">
    <div class="sidebar-menu">
        <div class="side-bar-heading">
            Hello @User
        </div>
        <!---For Loop for Categories-->
        <div class="side-bar-subheading"> 
            Category 1
        </div>
        <div class="side-bar-subheading"> 
            Category 2
        </div>
        <div class="side-bar-subheading"> 
            Category 3
        </div>
        <!-- End for Loop-->
    </div>
</div>