@mixin price-font {
    color: rgb(173, 167, 167);
}

.product{
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 15px 0px;    
    .card{
        flex-direction: column;
        border-radius: 5px;
        width:30%;
        margin: auto;
        padding: 10px;
        .card-image{
            img{
                max-width:100%; 
                height:auto; 
            }
        }
        .card-content{
            flex-direction: column;
            width:100%;
            .card-title{
                @include price-font();
            }
            .card-price{
                @include price-font();
            }
        }
    }
}