
body {
    background-color: rgb(244, 244, 252);
    margin-top: 1px !important;
    
}

@mixin background-color {
    background-color: rgb(11, 104, 226);
}

@mixin button-font {
    letter-spacing: .1em;
    font-size: 15px;
    font-weight: 400;
}

@mixin topping-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    font-weight: bold;
}

@mixin logo-container {
    font-size: 1.5em;
    font-family: 'talian Plate No2 Bold', 'HelveticaNeue-CondensedBold', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 5px 8px 5px;
    height: 40px;
    border-bottom: 1px solid #CCC;
}

@mixin sub-menu-container {
    font-size: 1.5em;
    font-family: 'talian Plate No2 Bold', 'HelveticaNeue-CondensedBold', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    padding-bottom: 5px;
}

.body-container {
    border: 1px solid;
    border-width: 0px 1px;
    background-color: #ffffff;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    .logo-container {
        @include logo-container();
        @include background-color();
        .logo {
            float: left;
            color: #ffffff;
            font-size: 35px;
            font-weight: 400;
            padding: 20px;
            padding-top: 0px; 
            padding-bottom: 0px; 
        }
        .search-container{
            max-width:60%;
            height: 100%;
            margin: 0 auto;
        }
        .button-main {
            float: right;
            padding: 10px;
            color: #ffffff;
            font-family: inherit;
            border-radius: 10px;
            @include button-font();
            cursor: pointer;
            border:0px !important;
            @include background-color();
            
        }
        .button-main:hover {
            background-color: rgb(10, 202, 236);
        }
    }
    
    .navbar {
        @include sub-menu-container();
        background-color: rgb(110, 70, 204);
        color: #fff;
        height: 30px;
        border-bottom: 1px solid #000;
        .navbar-container {
            display: flex;
            flex-wrap: nowrap;
            max-width: 100%;
            .navbar-brand {
                text-decoration: none;
                color: inherit;
                padding-left: 15px;
                [id^=drop] {
                    display: none;
                }                
                .navbar-brand-content{
                    cursor: pointer;
                    .side-bar{
                        display: none;
                    }
                    .menu-liner-container{
                        display: flex;
                        flex-direction: column;
                        padding-top: 5px;
                        .menu-liner{
                            width: 25px;
                            height: .3rem;
                            background-color: #000;
                            margin-top: .1rem;
                        }
                    }   
                }
                [id^=drop]:checked {
                    &~ {
                        .navbar-brand-content{
                            .side-bar{
                                display: block;
                            }
                        }
                    }
                }  
            }
            .search-container-submenu{
                max-width:80%;
                height: 100%;
                margin: 0 auto;
            }
            .cart {
                margin-top: 8px;
                margin-right: 5px;
                text-align: right;
                width: 100%;
                min-width: 30%;
                cursor: pointer;
            }
        }
    }
    .body-content {
        padding: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media all and (min-width:360px) {
    .body-container {
        .logo-container{
            .search-container{
                display:block;
            }
        }
        .navbar{
            .navbar-container{
                .search-container-submenu{
                    display: none;
                }
            }
        }
    }
}

@media all and (min-width:0px) and (max-width:359px){
    .body-container {
        .logo-container{
            .search-container{
                display:none;
            }
        }
        .navbar{
            .navbar-container{
                .search-container-submenu{
                    padding-top: 3px;
                    display: block ;
                }
            }
        }
    }
}


